<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD0AgQBvZS1HVKP7IpQ8EvmsvS4QQoyu6E</string>
	<key>GCM_SENDER_ID</key>
	<string>98214571932</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myhealthyfoodAdmin</string>
	<key>PROJECT_ID</key>
	<string>my-healthy-b4fbc</string>
	<key>STORAGE_BUCKET</key>
	<string>my-healthy-b4fbc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:98214571932:ios:d65e0b21782058cdb6e259</string>
</dict>
</plist>